---
layout: ""
page_title: "Provider: Civo"
description: |-
  The Civo provider is used to interact with the resources supported by Civo. The provider needs to be configured with the proper credentials before it can be used.
---

# Civo Provider

The Civo provider is used to interact with the resources supported by Civo. The provider needs to be configured with the proper credentials before it can be used.

Use the navigation to the left to read about the available resources.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
