name: Go
on: [push]
jobs:

  build:
    strategy:
        matrix:
          go-version: [1.16.x, 1.17.x]
          os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Build
      run: go build -v .
    - name: Vet
      run: go vet   
    - name: Make test
      run: make test